<h2>This is my awesome Translator</h2>
{{#list-filter
   filter=(action 'filterByWord')
   as |w|}}

    <ul class="results">
        {{#each w as |word|}}
            <li>{{english-to-spanish word=word}}</li>
        {{/each}}
     </ul>
{{/list-filter}}

{{outlet}}

